{% extends "ProyectoPrincipalBundle:Default:base.html.twig" %}

{%block contenedorbase%}
{% include 'ProyectoPrincipalBundle:Default:sesion.html.twig'  with {'datos': datos} %}
<div id="destacados">
	<h2 > Destacados </h2>
	<div class="clearfix"></div>
	<div class="item">
		<a href="{{ path('proyecto_principal_evento') }}"><img src="{{ asset('sistema/images/work/thumbs/evento1.png')}}" alt="image 1"></a>
		<!-- Image must be 400px by 300px -->
		<h3>TedxCanarias</h3>
		<!--Title-->
		<ul>
			<li class="izquierda">
				Las Palmas
			</li>
			<li class="izquierda">
				3h
			</li>
			<li class="derecha">
				Precio
			</li>
		</ul>
		<!--Category-->
	</div>
	<!--/item-->
	<div class="item">
		<a href="{{ path('proyecto_principal_evento') }}"><img src="{{ asset('sistema/images/work/thumbs/evento2.png')}}" alt="image 2"></a>
		<!-- Image must be 400px by 300px -->
		<h3>Curso Eficiencia</h3>
		<!--Title-->
		<ul>
			<li class="izquierda">
				Madri
			</li>
			<li class="izquierda">
				10h
			</li>
			<li class="derecha">
				Precio
			</li>
		</ul>
		<!--Category-->
	</div>
	<!--/item-->
	<div class="item">
		<a href="{{ path('proyecto_principal_evento') }}"><img src="{{ asset('sistema/images/work/thumbs/evento3.png')}}" alt="image 3"></a>
		<!-- Image must be 400px by 300px -->
		<h3>Emprende Galicia</h3>
		<!--Title-->
		<ul>
			<li class="izquierda">
				A Coruña
			</li>
			<li class="izquierda">
				2h
			</li>
			<li class="derecha">
				Precio
			</li>
		</ul>
		<!--Category-->
	</div>
	<!--/item-->
	<div class="item">
		<a href="{{ path('proyecto_principal_evento') }}"><img src="{{ asset('sistema/images/work/thumbs/evento4.png')}}" alt="image 4"></a>
		<!-- Image must be 400px by 300px -->
		<h3>Workshop Creativo</h3>
		<!--Title-->
		<ul>
			<li class="izquierda">
				Madrid
			</li>
			<li class="izquierda">
				10h
			</li>
			<li class="derecha">
				Precio
			</li>
		</ul>
		<!--Category-->
	</div>
	<div class="clearfix"></div>
</div>
<!-- destacados Section End -->
<div id="work"  class="rosa">
	<!-- Work Links Section Start -->
	<div class="añadir">
		<a href="{{ path('proyecto_principal_eventos') }}">Eventos</a>
		<!--/item-->
	</div>
	<div class="buscador">
		<select name="Ciudades..." title="Ciudad.." class="formstyle">
			<option value="Madrid"> Ciudad... </option>
			<option value="Madrid"> Madrid </option>
			<option value="Barcelona"> Barcelona </option>
			<option value="Tenerife"> Tenerife </option>
		</select>
	</div>
	<!--/item-->
	<div class="buscador">
		<select name="Fecha..." title="Fecha.." class="formstyle">
			<option value="Madrid"> Hoy... </option>
			<option value="Madrid"> Mañana </option>
			<option value="Barcelona"> Pasado... </option>
		</select>
	</div>
	<!--/item-->
	<div class="buscador">
		<select name="Ciudades..." title="Ciudades.." class="formstyle">
			<option value="Madrid"> Exposición... </option>
			<option value="Madrid">Curso </option>
			<option value="Barcelona"> Ponencia</option>
			<option value="Tenerife"> Presentación </option>
		</select>
	</div>
	<!--/item-->
	<div class="añadir">
		<ul>
			<li>
				<a href="registro.html"><img class="icon" src="{{ asset('sistema/images/icons/mas.png')}}" width="27" height="27" alt="Añadir"></a>
			</li>
			<li style="float:right;">
				<a href="{{ path('proyecto_principal_eventos') }}"><img class="icon" src="{{ asset('sistema/images/icons/buscar.png')}}" width="27" height="27" alt="Buscar"></a></a>
		</ul>
	</div>
	<div class="buscador">
		<select name="Ciudades..." title="Ciudades.." class="formstyle">
			<option value="Madrid"> Precio... </option>
			<option value="Madrid"> de menos de 20 E/h </option>
			<option value="Barcelona"> Entre 20 y 50 </option>
			<option value="Tenerife">Entre 50 y 50 </option>
		</select>
	</div>
	<!--/item-->
	<div class="buscador">
		<select name="Fecha..." title="Fecha.." class="formstyle">
			<option value="Madrid"> M2... </option>
			<option value="Madrid"> Menos de 15 m2 </option>
			<option value="Barcelona"> Entre 15 y 30 m2 </option>
		</select>
	</div>
	<!--/item-->
	<div class="buscador">
		<select name="Ciudades..." title="Ciudades.." class="formstyle">
			<option value="Madrid"> Aforo... </option>
			<option value="Madrid"> Menos de 10 </option>
			<option value="Barcelona">Entre 10 y 30</option>
			<option value="Tenerife"> Entre 30 y 50</option>
		</select>
	</div>
	<!--/item-->
	<div class="item">
		<a href="{{ path('proyecto_principal_evento') }}"><img src="{{ asset('sistema/images/work/thumbs/evento1.png')}}" alt="image 1"></a>
		<!-- Image must be 400px by 300px -->
		<h3>TedxCanarias</h3>
		<!--Title-->
		<ul>
			<li class="izquierda">
				Las Palmas
			</li>
			<li class="izquierda">
				6h
			</li>
			<li class="derecha">
				Precio
			</li>
		</ul>
		<!--Category-->
	</div>
	<!--/item-->
	<div class="item">
		<a href="{{ path('proyecto_principal_evento') }}"><img src="{{ asset('sistema/images/work/thumbs/evento2.png')}}" alt="image 2"></a>
		<!-- Image must be 400px by 300px -->
		<h3>Curso Eficiencia</h3>
		<!--Title-->
		<ul>
			<li class="izquierda">
				Madrid
			</li>
			<li class="izquierda">
				6h
			</li>
			<li class="derecha">
				Precio
			</li>
		</ul>
		<!--Category-->
	</div>
	<!--/item-->
	<div class="item">
		<a href="{{ path('proyecto_principal_evento') }}"><img src="{{ asset('sistema/images/work/thumbs/evento3.png')}}" alt="image 3"></a>
		<!-- Image must be 400px by 300px -->
		<h3>Emprende Galicia</h3>
		<!--Title-->
		<ul>
			<li class="izquierda">
				A Coruña
			</li>
			<li class="izquierda">
				2h
			</li>
			<li class="derecha">
				Precio
			</li>
		</ul>
		<!--Category-->
	</div>
	<!--/item-->
	<div class="item">
		<a href="{{ path('proyecto_principal_evento') }}"><img src="{{ asset('sistema/images/work/thumbs/evento4.png')}}" alt="image 4"></a>
		<!-- Image must be 400px by 300px -->
		<h3>Workshop Creativo</h3>
		<!--Title-->
		<ul>
			<li class="izquierda">
				Madrid
			</li>
			<li class="izquierda">
				10h
			</li>
			<li class="derecha">
				Precio
			</li>
		</ul>
		<!--Category-->
	</div>
	<!--/item-->
	<div class="item">
		<a href="{{ path('proyecto_principal_evento') }}"><img src="{{ asset('sistema/images/work/thumbs/evento5.png')}}" alt="image 1"></a>
		<!-- Image must be 400px by 300px -->
		<h3>Creative Lab Session</h3>
		<!--Title-->
		<ul>
			<li class="izquierda">
				Madrid
			</li>
			<li class="izquierda">
				9h
			</li>
			<li class="derecha">
				Precio
			</li>
		</ul>
		<!--Category-->
	</div>
	<!--/item-->
	<div class="item">
		<a href="{{ path('proyecto_principal_evento') }}"><img src="{{ asset('sistema/images/work/thumbs/evento6.png')}}" alt="image 2"></a>
		<!-- Image must be 400px by 300px -->
		<h3>Cata de Vinos</h3>
		<!--Title-->
		<ul>
			<li class="izquierda">
				Madrid
			</li>
			<li class="izquierda">
				2h
			</li>
			<li class="derecha">
				Precio
			</li>
		</ul>
		<!--Category-->
	</div>
	<!--/item-->
	<div class="item">
		<a href="{{ path('proyecto_principal_evento') }}"><img src="{{ asset('sistema/images/work/thumbs/evento7.png')}}" alt="image 3"></a>
		<!-- Image must be 400px by 300px -->
		<h3>Congreso SBMAD13</h3>
		<!--Title-->
		<ul>
			<li class="izquierda">
				Madrid
			</li>
			<li class="izquierda">
				9h
			</li>
			<li class="derecha">
				Precio
			</li>
		</ul>
		<!--Category-->
	</div>
	<!--/item-->
	<div class="item">
		<a href="{{ path('proyecto_principal_evento') }}"><img src="{{ asset('sistema/images/work/thumbs/evento8.png')}}" alt="image 4"></a>
		<!-- Image must be 400px by 300px -->
		<h3>Fiesta de Colectivos</h3>
		<!--Title-->
		<ul>
			<li class="izquierda">
				Madrid
			</li>
			<li class="izquierda">
				3h
			</li>
			<li class="derecha">
				Precio
			</li>
		</ul>
		<!--Category-->
	</div>

	<div class="item">
		<a href="{{ path('proyecto_principal_evento') }}"><img src="{{ asset('sistema/images/work/thumbs/evento1.png')}}" alt="image 1"></a>
		<!-- Image must be 400px by 300px -->
		<h3>TedxCanarias</h3>
		<!--Title-->
		<ul>
			<li class="izquierda">
				Las Palmas
			</li>
			<li class="izquierda">
				5h
			</li>
			<li class="derecha">
				Precio
			</li>
		</ul>
		<!--Category-->
	</div>
	<!--/item-->
	<div class="item">
		<a href="{{ path('proyecto_principal_evento') }}"><img src="{{ asset('sistema/images/work/thumbs/evento2.png')}}" alt="image 2"></a>
		<!-- Image must be 400px by 300px -->
		<h3>Curso Eficiencia</h3>
		<!--Title-->
		<ul>
			<li class="izquierda">
				Madrid
			</li>
			<li class="izquierda">
				6h
			</li>
			<li class="derecha">
				Precio
			</li>
		</ul>
		<!--Category-->
	</div>
	<!--/item-->
	<div class="item">
		<a href="{{ path('proyecto_principal_evento') }}"><img src="{{ asset('sistema/images/work/thumbs/evento3.png')}}" alt="image 3"></a>
		<!-- Image must be 400px by 300px -->
		<h3>Emprende Galicia</h3>
		<!--Title-->
		<ul>
			<li class="izquierda">
				A Coruña
			</li>
			<li class="izquierda">
				2h
			</li>
			<li class="derecha">
				Precio
			</li>
		</ul>
		<!--Category-->
	</div>
	<!--/item-->
	<div class="item">
		<a href="{{ path('proyecto_principal_evento') }}"><img src="{{ asset('sistema/images/work/thumbs/evento4.png')}}" alt="image 4"></a>
		<!-- Image must be 400px by 300px -->
		<h3>Workshop Creativo</h3>
		<!--Title-->
		<ul>
			<li class="izquierda">
				Madrid
			</li>
			<li class="izquierda">
				10h
			</li>
			<li class="derecha">
				Precio
			</li>
		</ul>
		<!--Category-->
	</div>
	<!--/item-->
	<div class="item">
		<a href="{{ path('proyecto_principal_evento') }}"><img src="{{ asset('sistema/images/work/thumbs/evento5.png')}}" alt="image 1"></a>
		<!-- Image must be 400px by 300px -->
		<h3>Creative Lab Session</h3>
		<!--Title-->
		<ul>
			<li class="izquierda">
				Madrid
			</li>
			<li class="izquierda">
				10h
			</li>
			<li class="derecha">
				Precio
			</li>
		</ul>
		<!--Category-->
	</div>
	<!--/item-->
	<div class="item">
		<a href="{{ path('proyecto_principal_evento') }}"><img src="{{ asset('sistema/images/work/thumbs/evento6.png')}}" alt="image 2"></a>
		<!-- Image must be 400px by 300px -->
		<h3>Cata de Vinos</h3>
		<!--Title-->
		<ul>
			<li class="izquierda">
				Madrid
			</li>
			<li class="izquierda">
				2h
			</li>
			<li class="derecha">
				Precio
			</li>
		</ul>
		<!--Category-->
	</div>
	<!--/item-->
	<div class="item">
		<a href="{{ path('proyecto_principal_evento') }}"><img src="{{ asset('sistema/images/work/thumbs/evento7.png')}}" alt="image 3"></a>
		<!-- Image must be 400px by 300px -->
		<h3>Congreso SBMAD13</h3>
		<!--Title-->
		<ul>
			<li class="izquierda">
				Madrid
			</li>
			<li class="izquierda">
				10h
			</li>
			<li class="derecha">
				Precio
			</li>
		</ul>
		<!--Category-->
	</div>
	<!--/item-->
	<div class="item">
		<a href="{{ path('proyecto_principal_evento') }}"><img src="{{ asset('sistema/images/work/thumbs/evento8.png')}}" alt="image 4"></a>
		<!-- Image must be 400px by 300px -->
		<h3>Fiesta de Colectivos</h3>
		<!--Title-->
		<ul>
			<li class="izquierda">
				Madrid
			</li>
			<li class="izquierda">
				4h
			</li>
			<li class="derecha">
				Precio
			</li>
		</ul>
		<!--Category-->
	</div>
	<!--/item-->
	<div class="clearfix"></div>
	<div id="contador">
		<a href="{{ path('proyecto_principal_eventos') }}">1 2 3 4 &gt;</a>
	</div>
</div>


<!-- TO MAKE THE PHP FORM WORK, ALL YOU NEED TO DO IS OPEN UP THE FILE CALLED 'submitemail.php' AND CHANGE WHERE IT SAYS 'your email goes here' -->

<!-- DON'T TOUCH THIS SECTION -->
{%endblock%} 