{% extends "ProyectoPrincipalBundle:Default:base.html.twig" %}

{%block contenedorbase%}
<div class="wrapper">

	{% include 'ProyectoPrincipalBundle:Helpers:top.html.twig'  with {'clase': 'verde'}  %}
	{% include 'ProyectoPrincipalBundle:Default:sesion.html.twig'  with {'datos': datos} %}

	<div id="destacados">
		<h2 > Destacados </h2>
		<div class="clearfix"></div>
		<div class="item">
			<a href="{{ path('proyecto_principal_espacio') }}"><img src="{{ asset('sistema/images/work/thumbs/espacio4.png')}}" alt="image 4"></a>
			<!-- Image must be 400px by 300px -->
			<h3>Sala Triangular</h3>
			<!--Title-->
			<ul>
				<li class="izquierda">
					Madrid
				</li>
				<li class="izquierda">
					300 m2
				</li>
				<li class="derecha">
					Precio
				</li>
			</ul>
			<!--Category-->
		</div>

		<div class="item">
			<a href="{{ path('proyecto_principal_espacio') }}"><img src="{{ asset('sistema/images/work/thumbs/espacio11.png')}}" alt="image 2"></a><!-- Image must be 400px by 300px -->

			<h3>Espacio díafano</h3><!--Title-->
			<ul>
				<li class="izquierda">
					Las Palmas
				</li>
				<li class="izquierda">
					450 m2
				</li>
				<li class="derecha">
					Precio
				</li>
			</ul><!--Category-->
		</div><!--/item-->

		<div class="item">
			<a href="{{ path('proyecto_principal_espacio') }}"><img src="{{ asset('sistema/images/work/thumbs/espacio8.png')}}" alt="image 4"></a>
			<!-- Image must be 400px by 300px -->
			<h3>Salón de Actos</h3>
			<!--Title-->
			<ul>
				<li class="izquierda">
					Madrid
				</li>
				<li class="izquierda">
					1000 m2
				</li>
				<li class="derecha">
					Precio
				</li>
			</ul>
			<!--Category-->
		</div>

		<div class="item">
			<a href="{{ path('proyecto_principal_espacio') }}"><img src="{{ asset('sistema/images/work/thumbs/espacio10.png')}}" alt="image 3"></a>
			<!-- Image must be 400px by 300px -->
			<h3>Sala de Radio</h3>
			<!--Title-->
			<ul>
				<li class="izquierda">
					A Coruña
				</li>
				<li class="izquierda">
					50 m2
				</li>
				<li class="derecha">
					Precio
				</li>
			</ul>
			<!--Category-->
		</div>
		<div class="clearfix"></div>
	</div>
	<!-- destacados Section End -->

	{% render controller('ProyectoPrincipalBundle:Espacio:widget', { 'numResults': 16,'paginacion':true }) %}

</div>


<!-- TO MAKE THE PHP FORM WORK, ALL YOU NEED TO DO IS OPEN UP THE FILE CALLED 'submitemail.php' AND CHANGE WHERE IT SAYS 'your email goes here' -->

<!-- DON'T TOUCH THIS SECTION -->
{%endblock%} 