{% extends "ProyectoPrincipalBundle:Default:base.html.twig" %}
{%block scripts%}
<script type="text/javascript">//var direccionBuscarCiudad = "{{path('proyecto_users_buscar_ciudad')}}";</script>
{%endblock%}

{%block contenedorbase%}

<div class="wrapper">
	{% include 'ProyectoPrincipalBundle:Helpers:top.html.twig'  with {'clase': 'verde'}  %}
	<div class="verde" id="work"  >

		<div class="nuevo">

			<div id="formnuevo">
				<form action="{{ url }}" method="post" {{ form_enctype(form) }} >
					<h2 > Registrar nuevo espacio (4/5)</h2>
					<p >
						&nbsp;
					</p>
					<p>
						<strong>Equipamiento incluido:</strong> (si no es gratuito, <a href="#">regístralo</a> con su precio como servicio adjunto al de la sede).
					</p>
					<p>
						&nbsp;
					</p>

					<div class="clearfix"></div>
					<p style="float:left; width:200px;"> {{ form_widget(form.proyectorPantallaSala) }} Proyector y pantalla de sala   </p>
					</br>
					<p style="float:left; width:200px;"> {{ form_widget(form.microfonoAltavoces) }}  Micrófono y altavoces  </p>
					</br>
					<p style="float:left; width:200px;"> {{ form_widget(form.videocamara) }} Videocámara  </p>
					</br>
					<p>&nbsp;</p>
					</br>
					<p style="float:left; width:200px;">
						{{ form_widget(form.wifi) }}
						WiFi
					</p>
					</br>
					<p style="float:left; width:200px;"> {{ form_widget(form.internetCable) }}Internet por Cable </p>
					</br>
					<p>&nbsp;</p>
					</br>
					<p style="float:left; width:200px;">
						{{ form_widget(form.maquinaBebidas) }}
						Máquina de bebidas
					</p>
					</br>
					<p style="float:left; width:200px;">{{ form_widget(form.pizarra) }}  Pizarra  </p>
					</br>
					<p style="float:left; width:200px;">
						{{ form_widget(form.conserjeria) }}
						Conserjería
					</p>
					</br>
					<p>
						&nbsp;
					</p>
					</br>
					<p style="float:left; width:200px;">{{ form_widget(form.aireAcondicionado) }}  Aire acondicionado  </p>
					</br>
					<p style="float:left; width:200px;">
						{{ form_widget(form.calefaccion) }}
						Calefacción
					</p>
					</br>

					<p>
						&nbsp;
					</p>

					
					{{ form_widget(form.otros, { 'attr': {'class': 'formstyle','title':'Otros...'} }) }}
					</br>

					<div class="clearfix"></div>
					<p>
						&nbsp;
					</p>

					<input type="submit" class="botonSubmitFormulario formstyle " value="Siguiente">
					<div class="enviar">
						<a href="registroespacio2.html" title="Perfil">Anterior</a>
					</div>
					{{ form_rest(form) }}
				</form>
				<div id="error"></div>
				<div class="clearfix"></div>
			</div>
		</div>

	</div>

</div>

{%endblock%}