{% extends "ProyectoPrincipalBundle:Default:base.html.twig" %}
{%block scripts%}
<script type="text/javascript">//var direccionBuscarCiudad = "{{path('proyecto_users_buscar_ciudad')}}";</script>
{%endblock%}

{%block contenedorbase%}

<div class="wrapper">
	{% include 'ProyectoPrincipalBundle:Helpers:top.html.twig'  with {'clase': 'verde'}  %}

	<!-- Text Section End -->

	<div class="verde" id="work"  >

		<div class="nuevo">

			<div id="formnuevo">
				<form action="{{ url }}" method="post" {{ form_enctype(form) }} >
					
				<h2 > Registrar nuevo espacio (3/5)</h2>
					<p>
						{{ form_errors(form) }}
						&nbsp;
					</p>

				<p>
					<strong>Detalles del espacio :</strong>
				</p>

				<p>
					Superficie  (m2)
				</p>
				{{ form_widget(form.superficie, { 'attr': {'class': 'formstyle','title':'Superficie  (m2)','min':'0','step':'1','value':'0'} }) }}
				<p>
					Ancho Mínimo Libre (m)
				</p>		
				{{ form_widget(form.anchoMinimoLibre, { 'attr': {'class': 'formstyle','title':'Ancho Mínimo Libre (m)','min':'0','step':'1','value':'0'} }) }}
				<p>
					Largo Mínimo Libre (m)
				</p>
				{{ form_widget(form.largoMinimoLibre, { 'attr': {'class': 'formstyle','title':'Largo Mínimo Libre (m)','min':'0','step':'1','value':'0'} }) }}
				<p>
					Altura Mínima Libre (m)
				</p>
				{{ form_widget(form.alturaMinimaLibre, { 'attr': {'class': 'formstyle','title':'Altura Mínima Libre (m)','min':'0','step':'1','value':'0'} }) }}

				<p>
					&nbsp;
				</p>
				<p>
					<strong>Permite las siguientes configuraciones:</strong>
				</p>
				<p class="left">
					{{ form_widget(form.modoAula) }}
					<strong> Modo Aula (Sillas)</strong>
				<p class="right">
					hasta
					{{ form_widget(form.modoAulaCapacidad, { 'attr': {'class': 'formstyle3','title':'...','min':'0','step':'1','value':'0'} }) }}
					personas
				</p>

				<p class="left">
					{{ form_widget(form.modoBanquete) }}
					<strong> Modo Banquete</strong>
				<p class="right">
					hasta
					{{ form_widget(form.modoBanqueteCapacidad, { 'attr': {'class': 'formstyle3','title':'...','min':'0','step':'1','value':'0'} }) }}
					personas
				</p>

				<p class="left">
					{{ form_widget(form.modoCocktail) }}
					<strong> Modo Cocktail</strong>
				<p class="right">
					hasta
					{{ form_widget(form.modoCocktailCapacidad, { 'attr': {'class': 'formstyle3','title':'...','min':'0','step':'1','value':'0'} }) }}
					personas
				</p>

				<p class="left">
					{{ form_widget(form.modoEscenario) }}
					<strong> Modo Escenario</strong>
				<p class="right">
					hasta
					{{ form_widget(form.modoEscenarioCapacidad, { 'attr': {'class': 'formstyle3','title':'...','min':'0','step':'1','value':'0'} }) }}
					personas
				</p>

				<p class="left">
					{{ form_widget(form.modoExposicion) }}
					<strong> Modo Exposición</strong>
				<p class="right">
					hasta
					{{ form_widget(form.modoExposicionCapacidad, { 'attr': {'class': 'formstyle3','title':'...','min':'0','step':'1','value':'0'} }) }}
					personas
				</p>

				<p>
					&nbsp;
				</p>
				<p>
					&nbsp;
				</p>
				<p>
					<strong>El espacio tiene:</strong>
				</p>

				<p style="float:left; width:200px;">
					{{ form_widget(form.jardin) }}
					Jardín
				</p>

				</br>
				<p style="float:left; width:200px;">
					{{ form_widget(form.pilaresSueltos) }}
					Pilares sueltos
				</p>
				</br>
				<p style="float:left; width:270px;">
					{{ form_widget(form.entradaAseosMovilidadReducida) }}
					Entrada y aseos movilidad reducida
				</p>
				</br>
				<p style="float:left;width:200px;">
					{{ form_widget(form.ventanasExterior) }}
					Ventanas al exterior
				</p>
				</br>
				<p style="float:left; width:200px;">
					{{ form_widget(form.ventanasPatioInterior) }}
					Ventanas al patio interior
				</p>
				</br>
				<p style="float:left; width:280px;">
					{{ form_widget(form.posibilidadOscurecerSala) }}
					Posibilidad de oscurecer la sala
				</p>
				<p>
					&nbsp;
				</p>
				<p>
					&nbsp;
				</p>
				
				{{ form_widget(form.otros, { 'attr': {'class': 'formstyle','title':'Otros...'} }) }}
				</br>

				<div class="clearfix"></div>

				<div class="clearfix"></div>
				<p>
					&nbsp;
				</p>

				<input type="submit" class="botonSubmitFormulario formstyle " value="Siguiente">
				<div class="enviar">
					<a href="registroespacio1.html" title="Perfil">Anterior</a>
				</div>



						
			

				{{ form_rest(form) }}


				</form>


				<div id="error"></div>
				<div class="clearfix"></div>
			</div>
		</div>

	</div>
	<!-- Work Links Section End -->
	<!-- Last Words Section End-->
	<div id="sedes" ></div>
</div>

{%endblock%}