{% extends "ProyectoPrincipalBundle:Default:base.html.twig" %}
{%block scripts%}
<script type="text/javascript">//var direccionBuscarCiudad = "{{path('proyecto_users_buscar_ciudad')}}";</script>
{%endblock%}

{%block contenedorbase%}
<div class="wrapper">

	{% include 'ProyectoPrincipalBundle:Helpers:top.html.twig'  with {'clase': 'verde'}  %}

	<div class="verde" id="work"  >

		<div class="nuevo">

			<div id="formnuevo">
				<form action="{{ url }}" method="post" {{ form_enctype(form) }} >

					<h2 > Registrar nuevo espacio (2/5)</h2>
					<p >
						&nbsp;
					</p>
					<p>
						Rellena los siguientes datos para registrar del nuevo espacio:
					</p>

					<p>
						{{ form_errors(form) }}
						&nbsp;
					</p>

				


				    {{ form_widget(form.nombreEspacio, { 'attr': {'class': 'formstyle','title': 'Nombre del Espacio (Max 20 carácteres)'} }) }}



					


					<div class="clearfix"></div>
						
					{{ form_widget(form.descripcionGeneral, { 'attr': {'title': 'Descripción general'} }) }}						
    
    				<p>
						Pertenece a la sede:
					</p>

					{{ form_widget(form.sede1, { 'attr': {'class': 'formstyle'} }) }}

					<p>
						&nbsp;
					</p>
					<p style="float:left">
						Añadir Imágenes
					</p>
					{{ form_widget(form.file, { 'attr': {'class': 'formstyle','accept':'image/*'} }) }}


					<div class="clearfix"></div>
					<!--<div class="enviar">
						+
					</div>
					<div class="clearfix"></div>
					<p style="float:left">
						Añadir Planos Jpeg
					</p>
					<div class="enviar">
						Buscar imagen ...
					</div>
					<div class="clearfix"></div>
					<div class="enviar">
						+
					</div>-->
					<div class="clearfix"></div>
					{{ form_widget(form.enlaceVideo, { 'attr': {'class': 'formstyle','title': 'Añadir enlace a Video'} }) }}

					<!--
					<div class="clearfix"></div>
					<div class="enviar">
						+
					</div>-->
					<div class="clearfix"></div>

					<p>
						&nbsp;
					</p>
					<p>
						&nbsp;
					</p>
					<div class="clearfix"></div>

	

						<input type="submit" class="botonSubmitFormulario formstyle " value="Siguiente">
			
					<div class="enviar">
						<a href="registroespacio.html" title="Perfil">Anterior</a>
					</div>

						{{ form_rest(form) }}
				</form>
			</div>
			<div class="clearfix"></div>

			<div id="espacios" ></div>
			<div id="eventos" ></div>
			<div id="servicios" ></div>
			<div class="clearfix"></div>
		</div>
		<!-- Work Links Section End -->
		<!-- Last Words Section End-->
		<div id="sedes" ></div>
	</div>
</div>
{%endblock%}