{% extends "ProyectoPrincipalBundle:Default:base.html.twig" %}

{%block contenedorbase%}
<div class="wrapper">

	{% include 'ProyectoPrincipalBundle:Helpers:top.html.twig'  with {'clase': 'azul'}  %}
	{% include 'ProyectoPrincipalBundle:Default:sesion.html.twig'  with {'datos': datos} %}
	<div id="destacados">
		<h2 > Destacados </h2>
		<div class="clearfix"></div>
		<div class="item">
			<a href="{{ path('proyecto_principal_servicio') }}"><img src="{{ asset('sistema/images/work/thumbs/servicio1.png')}}" alt="image 1"></a><!-- Image must be 400px by 300px -->
			<h3>Mini-Site del Evento</h3><!--Title-->
			<ul>
				<li class="izquierda">
					Diseño Web
				</li>
				<li class="izquierda"></li>
				<li class="derecha">
					Precio
				</li>
			</ul><!--Category-->
		</div><!--/item-->

		<div class="item">
			<a href="{{ path('proyecto_principal_servicio') }}"><img src="{{ asset('sistema/images/work/thumbs/servicio2.png')}}" alt="image 2"></a><!-- Image must be 400px by 300px -->

			<h3>Reportaje Eventos</h3><!--Title-->
			<ul>
				<li class="izquierda">
					Fotografía
				</li>
				<li class="izquierda"></li>
				<li class="derecha">
					Precio
				</li>
			</ul><!--Category-->
		</div><!--/item-->

		<div class="item">
			<a href="{{ path('proyecto_principal_servicio') }}"><img src="{{ asset('sistema/images/work/thumbs/servicio3.png')}}" alt="image 3"></a><!-- Image must be 400px by 300px -->

			<h3>Grupo de Jazz</h3><!--Title-->
			<ul>
				<li class="izquierda">
					Música
				</li>
				<li class="izquierda"></li>
				<li class="derecha">
					Precio
				</li>
			</ul><!--Category-->
		</div><!--/item-->

		<div class="item">
			<a href="{{ path('proyecto_principal_servicio') }}"><img src="{{ asset('sistema/images/work/thumbs/servicio4.png')}}" alt="image 4"></a><!-- Image must be 400px by 300px -->

			<h3>Catering Creativo</h3><!--Title-->
			<ul>
				<li class="izquierda">
					Catering
				</li>
				<li class="izquierda"></li>
				<li class="derecha">
					Precio
				</li>
			</ul><!--Category-->
		</div><!--/item-->
		<div class="clearfix"></div>
	</div>
	<!-- destacados Section End -->

	{% render controller('ProyectoPrincipalBundle:Servicio:widget', { 'numResults': 16,'paginacion':true }) %}

	<!--<div class="clearfix"></div>-->
</div>

{%endblock%} 