 {% extends "ProyectoPrincipalBundle:Default:base.html.twig" %}

{%block contenedorbase%}
<div class="wrapper">

 {% include 'ProyectoPrincipalBundle:Helpers:top.html.twig'  %}
{% include 'ProyectoPrincipalBundle:Default:sesion.html.twig'  with {'datos': datos} %}

    <aside id="about" class=" left"> <!-- Text Section Start -->

    	<!-- Replace all text with what you want -->
       
<div class="leftid">
Organiza
      <a href="ficha.html"><img src="{{ asset('sistema/images/work/thumbs/servicio1.png')}}" width="400" height="300"></a></div>
   
<div class="leftimg">
     <img src="{{ asset('sistema/images/work/thumbs/servicio10.png')}}" width="400" height="300"></div>

    
  </aside>
    
<aside class="right">

<div class="fichaizq">
<h3>Desarrollo de Mini-Site Eventos</h3>
			
             <ul>
            <li class="izquierda"> <h4>Realego Oficina Creativa, Madrid</h4> </li>
             <li class="derecha">   </li>
               </ul><!--Category-->  
               
               <div class="clearfix"></div> 
      <p>Te ofrecemos un servicio de diseño y produccción de  Micro Sites muy llamativos y creativos para cualquier tipo de acción de Marketing y Comunicación. En los Mini Sites se publican los contenidos con una limitación temporal a los que los usuarios llegan directamente desde  links que se publican en los soportes de la campaña on-line.</p>



    	
<h4>Incluye</h4>
    <div class="clearfix"></div> 
   <div class="atributos">
            
            <ul>
           
                  <li> Diseño de 1 página</li>
                  <li> Invitación html</li>
                  <li> Confirmación de Invitados </li>
                  <li> Dominio</li>
                 
                 
                  
      </ul><!--Category-->
      </div>
   <div class="clearfix"></div> 
   </div>
   
   <div class="fichader">
       <div id="precio" class="azul">
      <h3> 250 </h3>
       <h4>  € </h4>
   </div>
   <a href="reserva.html">Reservar</a>
   </div>
   <div class="clearfix"></div> 
    
 
</aside>
    <div class="clearfix"></div> <!-- Text Section End -->
    <div id="work"  class="azul">
       <div class="añadir">
    <a href="servicios.html">Servicios</a><!--/item--></div>
    <div class="buscador">
      <select name="Ciudades..." title="Ciudad.." class="formstyle">
        <option value="Madrid"> Ofrecidos por.. </option>
<option value="Madrid">Todos </option>
<option value="Barcelona">…una sede para sus propios eventos</option>
<option value="Tenerife">…una empresa para eventos de otros </option>
</select>
      </div><!--/item-->
        
         <div class="buscador">
        <select name="Fecha..." title="Fecha.." class="formstyle">
        <option value="Madrid">Multimedia </option>
<option value="Madrid">Todos </option>
<option value="Barcelona">Grabación y edición vídeo </option>
<option value="Barcelona">Fotógrafo del evento </option>
<option value="Barcelona">Alquiler cámaras </option>
<option value="Barcelona">Alquiler portátiles </option>
<option value="Barcelona">Alquiler proyectores y pantallas </option>
<option value="Barcelona">Sonido, Micrófono y altavoces </option>
<option value="Barcelona">Iluminación </option>

</select>
        </div><!--/item-->
        
      <div class="buscador">
        <select name="Fecha..." title="Fecha.." class="formstyle">
        <option value="Madrid">Mejora de espacios </option>
<option value="Madrid">Todos </option>
<option value="Barcelona">Decoración con accesorios </option>
<option value="Barcelona">Floristería </option>
<option value="Barcelona">Diseño de exposiciones temporales. </option>
<option value="Barcelona">Montaje de exposición</option>
<option value="Barcelona">Escenografía</option>
<option value="Barcelona">Rehabilitación arquitectónica </option>
<option value="Barcelona">Limpieza (uso normal e intensivo)  </option>
<option value="Barcelona">Seguros  </option>


</select>
      </div><!--/item-->
      
      
<div class="añadir">
  <ul> <li>  <a href="registro.html"><img class="icon" src="{{ asset('sistema/images/icons/mas.png')}}" width="27" height="27" title="Añadir Gratis"></a></li> 
     <li style="float:right;"> <a href="servicios.html"><img class="icon" src="{{ asset('sistema/images/icons/buscar.png')}}" width="27" height="27" alt="Buscar"></a></a> </ul></div>
    <div class="buscador">
        <select name="Fecha..." title="Fecha.." class="formstyle">
        <option value="Madrid">Mejora de contenidos </option>
<option value="Madrid">Todos </option>
<option value="Barcelona">Impresión  y grabación docs </option>
<option value="Barcelona">Transporte de mercancías </option>
<option value="Barcelona">Envíos </option>
<option value="Barcelona">Mobiliario aula, taller, recepción...</option>
<option value="Barcelona">Accesorios formación (Pizarras...)</option>
<option value="Barcelona">Papelería normal y corporativa </option>
<option value="Barcelona">Internet cable  </option>
<option value="Barcelona">Internet WIFI </option>
<option value="Barcelona">Animación </option>
<option value="Barcelona">Interpretación musical </option>
<option value="Barcelona">Interpretación teatral </option>


</select>
      </div><!--/item-->
        
         <div class="buscador">
     <select name="Fecha..." title="Fecha.." class="formstyle">
        <option value="Madrid">Servicio para asistentes </option>
<option value="Madrid">Todos </option>
<option value="Barcelona">Catering</option>
<option value="Barcelona">Azafatas</option>
<option value="Barcelona">Recepcionista </option>
<option value="Barcelona">Traducción</option>
<option value="Barcelona">Intérpretes</option>
<option value="Barcelona">Receptores con auricular para escuchar intérprete </option>
<option value="Barcelona">Alojamiento </option>
<option value="Barcelona">Internet WIFI </option>
<option value="Barcelona">Viaje </option>
<option value="Barcelona">Transporte local de asistentes </option>
<option value="Barcelona">Guía o acompañante para asistentes </option>


</select>
        </div><!--/item-->
        
      <div class="buscador">
        <select name="Fecha..." title="Fecha.." class="formstyle">
        <option value="Madrid"> Imagen Corporativa </option>
<option value="Madrid"> Todos </option>
<option value="Barcelona">Logos y docs corporativos</option>
<option value="Barcelona">Web del evento o de la Sede</option>
<option value="Barcelona">Impresión  y grabación </option>
<option value="Barcelona">Reparto publicitario</option>
<option value="Barcelona">Posicionamiento</option>
<option value="Barcelona">Community Management </option>
<option value="Barcelona">Difusión en internet </option>
<option value="Barcelona">Difusión otros medios </option>
<option value="Barcelona">Emisión online en página del evento</option>


</select>
      </div><!--/item-->
      <!--/item-->
      <div class="item"> <a href="{{ path('proyecto_principal_servicio') }}"><img src="{{ asset('sistema/images/work/thumbs/servicio1.png')}}" alt="image 1"></a>
        <!-- Image must be 400px by 300px -->
        <h3>Mini-Site del Evento</h3>
        <!--Title-->
        <ul>
          <li class="izquierda"> Diseño Web</li>
          <li class="izquierda"> </li>
          <li class="derecha"> Precio</li>
        </ul>
        <!--Category-->
      </div>
      <!--/item-->
      <div class="item"> <a href="{{ path('proyecto_principal_servicio') }}"><img src="{{ asset('sistema/images/work/thumbs/servicio2.png')}}" alt="image 2"></a>
        <!-- Image must be 400px by 300px -->
        <h3>Reportaje  Eventos</h3>
        <!--Title-->
        <ul>
          <li class="izquierda"> Fotografía</li>
          <li class="izquierda"> </li>
          <li class="derecha"> Precio</li>
        </ul>
        <!--Category-->
      </div>
      <!--/item-->
      <div class="item"> <a href="{{ path('proyecto_principal_servicio') }}"><img src="{{ asset('sistema/images/work/thumbs/servicio3.png')}}" alt="image 3"></a>
        <!-- Image must be 400px by 300px -->
        <h3>Grupo de Jazz</h3>
        <!--Title-->
        <ul>
          <li class="izquierda"> Música</li>
          <li class="izquierda"> </li>
          <li class="derecha"> Precio</li>
        </ul>
        <!--Category-->
      </div>
      <!--/item-->
      <div class="item"> <a href="{{ path('proyecto_principal_servicio') }}"><img src="{{ asset('sistema/images/work/thumbs/servicio4.png')}}" alt="image 4"></a>
        <!-- Image must be 400px by 300px -->
        <h3>Catering Creativo</h3>
        <!--Title-->
        <ul>
          <li class="izquierda"> Catering</li>
          <li class="izquierda"> </li>
          <li class="derecha"> Precio</li>
        </ul>
        <!--Category-->
      </div>
      <!--/item-->
      <div class="item"> <a href="{{ path('proyecto_principal_servicio') }}"><img src="{{ asset('sistema/images/work/thumbs/servicio5.png')}}" alt="image 1"></a>
        <!-- Image must be 400px by 300px -->
        <h3>Iluminación </h3>
        <!--Title-->
        <ul>
          <li class="izquierda">Audiovisual</li>
          <li class="izquierda"></li>
          <li class="derecha"> Precio</li>
        </ul>
        <!--Category-->
      </div>
      <!--/item-->
      <div class="item"> <a href="{{ path('proyecto_principal_servicio') }}"><img src="{{ asset('sistema/images/work/thumbs/servicio6.png')}}" alt="image 2"></a>
        <!-- Image must be 400px by 300px -->
        <h3>Pack Photocall</h3>
        <!--Title-->
        <ul>
          <li class="izquierda"> Escenografía</li>
          <li class="izquierda"> </li>
          <li class="derecha"> Precio</li>
        </ul>
        <!--Category-->
      </div>
      <!--/item-->
      <div class="item"> <a href="{{ path('proyecto_principal_servicio') }}"><img src="{{ asset('sistema/images/work/thumbs/evento6.png')}}" alt="image 3"></a>
        <!-- Image must be 400px by 300px -->
        <h3>Vinos </h3>
        <!--Title-->
        <ul>
          <li class="izquierda"> Catering</li>
          <li class="izquierda"> </li>
          <li class="derecha"> Precio</li>
        </ul>
        <!--Category-->
      </div>
      <!--/item-->
      <div class="item"> <a href="{{ path('proyecto_principal_servicio') }}"><img src="{{ asset('sistema/images/work/thumbs/servicio7.png')}}" alt="image 4"></a>
        <!-- Image must be 400px by 300px -->
        <h3>Azafatas Eventos</h3>
        <!--Title-->
        <ul>
          <li class="izquierda"> Personal</li>
          <li class="izquierda"></li>
          <li class="derecha"> Precio</li>
        </ul>
        <!--Category-->
      </div>
      <!--/item-->
      <div class="clearfix"></div>
      <div id="contador"> <a href="servicios.html">1 2 3 4 &gt;</a></div>
    </div>
  <div class="clearfix"></div>
    </div> <!-- Work Links Section End --> <!-- Work Links Section End -->
  
			<div class="clearfix"></div>
		</div><!--/html_carousel-->
    </div>	<!-- Slideshow End --> 
    
</div>
</div>
{%endblock%} 